$div-table-border-color: #666;
$div-table-border-width: 1upx;
.content{
	position: relative;
}
.table_box_big {
		 overflow:auto;
		 width:100%;
		position: relative;
		// height: 350px;
	}

	.table_box {
		 overflow: auto;
		// position: absolute;
	}

	.table_tbody_box {
		// height: 300px;
		 // overflow: scroll;
	}
	//没有任何数据
	.empty-data-body-box{
		 min-height: 100px;
		 line-height: 100px;
		 text-align: center;
		 color:#666;
		 border: $div-table-border-width solid $div-table-border-color;
		border-top: 0;
		 
	}
.fix-height{
	border-bottom: $div-table-border-width solid $div-table-border-color;
	.table_box_big {
			overflow-x: scroll;
			overflow-y: hidden;
			position: relative;
			// height: 350px;
		}
	
		.table_box {
			overflow: hidden;
			position: absolute;
		}
	
		.table_tbody_box {
			// height: 300px;
			overflow: scroll;
			
		}
		//固定高低里面的内容表格底部不要边框
		.div-table-body {
			border-bottom: 0;
		}
		.div-table-body {
			border-top: 0;
		}
}


	

	.div-table {
		display: table;
		border: $div-table-border-width solid $div-table-border-color;
		box-sizing: border-box;
		table-layout: fixed;
		position: relative;
		

		&.div-table-body {
			border-top: 0;
		}
		.tr,
		.th {
			display: table-row;
			&+.tr,
			&+.th {

				.td,
				.th {
					border-top: $div-table-border-width solid $div-table-border-color;
					word-break: break-word;
				}
			}
		}
		.th,.thead .tr{
			.td{
				background-color: #e0e0ea;
				
				.td_wrap{
					background-color: #e0e0ea;
				}
				
			}
		}
		//单选样式========》选中
		.selected{
			.td{
				background-color: #d3e3ef;
				.td_wrap{
					background-color: #d3e3ef;
				}
			}
		}
		//单选样式===》禁用
		.disabled{
			.td{
				    background-color: #f8f8f9;
					opacity: .6;
			}
		}
		
		.td {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			box-sizing: border-box;
			z-index:1;
			position: relative;
			.td_wrap {
				position: relative;
				width: 220upx;
				// height: 120upx;
				padding: 10upx;
				box-sizing: border-box;
				overflow: hidden;
				line-height: 20px;
				font-size:12px;
			}
			&.colspan {
				  z-index: 10;
				 position: absolute;
				 .td_wrap{
					 width: 100%;
					 height:100%;
					 left:0;
					 top:0;
					 position: absolute;
				 }
			}
			
			&.rowspan {
				position: absolute;
				z-index: 10;
			}
			
			&.empty-cells-for-celspan {
				border-left:none!important;
				.td_wrap{
					opacity: 0;
				}
			}
			&.empty-cells-for-rowspan{
				border-top:none!important;
				.td_wrap{
					opacity: 0;
				}
			}

			&.noPadding {
				padding: 0;
			}

			&+.td {
				.td_wrap{
					border-left: $div-table-border-width solid $div-table-border-color;
				}
			}
		}

		.th .td {
			font-weight: bold;
		}

		.tbody {
			display: table-row-group;
		}

		.thead {
			display: table-header-group;

			.tr,
			.th {

				.td,
				.th {
					// border-bottom: $div-table-border-width solid $div-table-border-color;
					width: 120upx;
					height: 75px;
				}
			}
		}

		.colgroup {
			display: table-column-group;
		}

		.col {
			display: table-column;
		}

		.caption {
			display: table-caption;
		}
	}